{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-5 -->
<div class="bloc l-bloc bgc-white" id="bloc-5">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>Nous travaillons chaque jour pour mettre en place la mission :</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h3 class="mg-md">
					La fête National Camerounaise à Télécom !
				</h3>
				<p class="mg-lg">
					Le 2O mai, à l'occasion de la fête nationale Camerounaise, nous avons investis le restaurant de Télécom Paristech de nos couleurs et proposé une boisson à base de bissap et des chips de plantain. Une découverte culinaire qui fut pour certains... originale.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->
{% endblock %}
