{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-4 -->
<div class="bloc l-bloc bgc-white" id="bloc-4">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>Le Projet Humanitaire</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h3 class="mg-md">
					Naissance
				</h3>
				<p class="mg-lg">
					Tous quatre étudiants en première année à Télécom ParisTech, nous avons à réaliser un stage de formation humaine. Nous y voyons là l'opportunité, peut être la dernière si l'on considère une carrière d'ingénieur classique, de réaliser une mission humanitaire d'envergure internationale, et par là même un de nos rêves d'hommes.Attirés, chacun pour nos propres raisons par l'Afrique, nous nous sommes mis en quête d'un moyen de mettre à profit nos modestes connaissances. Cela nous a ammené à rencontrer M. Mephu, chercheur en informatique, et originaire du village camerounais de Bayangam, qui nous a proposé de partir initier les jeunes de ce village à la bureautique.
				</p>
				<h3 class="mg-md">
					Déroulement
				</h3>
				<p class="mg-lg">
					Nous serons à Bayangam logés à la chefferie et nous pourrons dispenser nos cours dans un local mis à notre disposition par M. Honoré MELI, curé de Bayangam. Ce dispensaire ne comporte cependant pas pour l'instant de matériel informatique; nous profitons donc de la période qu'il nous reste avant le départ pour récolter du matériel.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->
{% endblock %}
