{% extends '::base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
<div class="bloc l-bloc bgc-white" id="bloc-8">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>Nous contacter</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<form id="form_1" novalidate>
					<div class="form-group">
						<label>
							Nom
						</label>
						<input id="name" class="form-control" required />
					</div>
					<div class="form-group">
						<label>
							Email
						</label>
						<input id="email" class="form-control" type="email" required />
					</div>
					<div class="form-group">
						<label>
							Message
						</label><textarea id="message" class="form-control" rows="4" cols="50" required></textarea>
					</div>
					<button class="bloc-button btn btn-lg btn-wire wire-btn-dark-cerulean pull-left" type="submit">
						Envoyer
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
