{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-6 -->
<div class="bloc l-bloc bgc-white" id="bloc-6">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>Vous pouvez nous aider !</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h3 class="mg-md">
					Nous financer
				</h3>
				<p class="mg-lg">
					Nous avons estimé le prix du voyage à 1500 euros par personne, soit 6000 euros au total. (billets d'avion, visas, frais de fonctionnement etc) Nous sommes donc à la recherche de financements, si vous pouvez nous aider, n'hésitez pas à nous contacter.
				</p>
				<h3 class="mg-md">
					Nous fournir du matériel
				</h3>
				<p class="mg-lg">
					La salle dans laquelle nous allons dispenser notre formation à Bayangam n'est pas équipée en matériel informatique.Nous sommes donc à la recherche de matériel sous forme de dons ou de prêts, si vous pouvez nous aider, n'hésitez pas à nous contacter.
				</p>
				<h3 class="mg-md">
					Participer à notre soirée caritative
				</h3>
				<p class="mg-lg">
					Nous organiserons une soirée caritative le Vendredi 17 Juin 2011 dans les locaux de Télécom ParisTech (Paris XIIIe) sur le thème de l'Afrique.Vous pouvez nous aider à faire de cette soirée une réussite; en y participant, si vous êtes artiste ou simplement volontaire, en nous aidant à l'organiser, en nous offrant des lots pour une tombola etc. Dans tous les cas n'hésitez pas à nous contacter.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->
{% endblock %}
