{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-20 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-20">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-10 col-sm-12">
				<h2 class="mg-sm">
					<strong>Le voyage à travers le regard de Sylvain.</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Jamais trop tard pour mettre à jour.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 02/08 à 14h49 heure Française
				</h3>
				<p class="mg-lg">
					J&rsquo;en ai discuté avec les autres, on s&rsquo;est demandé s&rsquo;il était pertinent de tirer d&rsquo;ores et déjà un premier bilan de l&rsquo;expérience. C&rsquo;est sûr que celui-ci va être amené à évoluer bien encore au fil des jours. En tout cas pour l&rsquo;instant, on est plutôt contents de nous. Moi je suis content des autres en tout cas, parce que vivre et travailler ensemble pendant un mois c&rsquo;est pas facile mine de rien. Or on a toujours respecté les décisions, on a avancé ensembles, et on s&rsquo;est pas laissé décourager par les imprévus ; pourtant il y en a eu un paquet des imprévus, on ne les a pas racontés ici car beaucoup auraient voulu nous rapatrier alors, -peut être que je ferai un best-of d&rsquo;ici quelques jours si je trouve le temps- mais à chaque fois on a trouvé la motivation pour mener à bout notre devoir. Et là aussi, j&rsquo;ose croire qu&rsquo;on s&rsquo;en est pas mal tirés, mais nos étudiants sont mieux placés que moi pour juger. Je vous remercie en tout cas tous les trois pour ce que vous avez fait.<br /><br />Une chose est sûre, aujourd&rsquo;hui on est bel et bien de retour en France et en vie, et j&rsquo;ai sacrément hâte de revoir tout le monde.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Un jour à Dschang.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 30/07 à 00h00 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Dschang, c&rsquo;est l&rsquo;une des villes qu&rsquo;on a eu l&rsquo;occasion de visiter. À ce que j&rsquo;ai compris c&rsquo;est une ville, sur le plan administratif, mais ce n&rsquo;est pas un village au sens traditionnel, avec une chefferie, car c&rsquo;est une terre que se disputaient jadis deux chefferies voisines. D&rsquo;ailleurs Dschang, c&rsquo;est comme ça que les allemands ont retranscrit à l&rsquo;époque le mot qui signifie « problème » dans la langue locale. Bref aujourd&rsquo;hui c&rsquo;est néanmoins devenu une ville importante puisqu&rsquo;elle accueille quelques touristes et surtout possède une grosse université.<br /><br />Elle est différente des villes où on est allés jusqu&rsquo;à maintenant dans le sens où il y a des immeubles, des trottoirs et même des poubelles et un système de collecte des déchets. Au début je m&rsquo;y sentais bien, puis j&rsquo;ai rapidement été dégoutté en réalisant que la seule chose qui me faisait plaisir c&rsquo;était de retrouver un petit bout de France.<br /><br />On est allé dans un atelier où ils faisaient des sculptures traditionnelles ; des masques à accrocher au mur ou des éléphants et des lions en ébène, le souvenir classique qui est censé montrer qu&rsquo;on connait l&rsquo;Afrique. Bien sûr c&rsquo;était hors de prix ; qui dit touristes, dit attrape gogo. En plus ça ne représentait clairement pas notre voyage ; nous des lions on en n&rsquo;a pas vu, puisqu&rsquo;ils ne sont pas là où il y a des hommes, et à part les tabourets, qui sont en bambous, tous les autres objets du quotidien sont en plastoc. Pour ramener un vrai souvenir de notre voyage, il aurait été plus pertinent de ramener un « pain pétrole », cette brioche délicatement parfumé aux gaz d&rsquo;échappements et qu&rsquo;on prenait au petit-déj&rsquo;.<br /><br />Au risque de paraître méprisant, je me suis rendu compte aujourd&rsquo;hui que j&rsquo;étais bien fier d&rsquo;avoir découvert l&rsquo;Afrique de l&rsquo;intérieur, et pas celle que l&rsquo;on vend aux touristes. Par contre il est officiel que l&rsquo;Europe me manque.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					La dernière semaine.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 27/07 à 12h44 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Vous avez été plusieurs à nous témoigner par mail votre plaisir à suivre nos aventures, et sachez bien que cela nous fait chaud au cœur, et nous fait regretter notre connexion internet assez chaotique. On tire désormais clairement vers la fin du séjour et je ressens de plus en plus l&rsquo;envie de rentrer, même si je compte bien profiter un maximum des derniers jours qui me restent en Afrique. Je vous dis à très bientôt.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Samedi, c&rsquo;est la fête à la chefferie.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 23/07 à 19h00 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Quelqu&rsquo;un qui tire en l&rsquo;air (à blanc) au fusil à pompe à quelques mètres de vous pour accompagner l&rsquo;air de « A la claire fontaine » ca peut étonner. Moi j&rsquo;avoue que je l&rsquo;ai été, mais il y a fallut s&rsquo;y faire, ca ressemble à ça une fête africaine ; un mélange irréel de tradition et de folie. Point à souligner, on a rien compris puisque tous les discours étaient en VO, mais ça avait l&rsquo;air d&rsquo;être une fête importante ; on a fait défiler tous les jumeaux du village et toutes les élites locales étaient présentes. D&rsquo;ailleurs celles-ci ont souvent été très ravies d&rsquo;apprendre notre initiative, j&rsquo;ai senti pour la première fois depuis le voyage de la gratitude de la part des locaux, et ça fait du bien.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Je vous ai déjà parlé de ma théorie sur la seule langue universelle ?
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 22/07 à 18h00 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Sans surprise, ici aussi ils parlent football, et ils le parlent plutôt bien. On a eu l&rsquo;occasion de jouer contre nos élèves, puis avec d&rsquo;autres villageois qui passaient par là, histoire de replonger un temps dans cet art de vivre. J&rsquo;espère juste que mon jeu à l&rsquo;européenne, qui a déjà été fatal à de nombreux tibias n&rsquo;a pas été perçu comme un signe d&rsquo;hostilité.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Zhong guo hen da.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 17/07 à 12h29 heure Camerounaise
				</h3>
				<p class="mg-lg">
					J&rsquo;aurais pu vous montrer beaucoup de choses Yaoundé, et c&rsquo;est un peu réducteur de ne montrer que cette photo. Je le regrette mais je ne pouvais pas passer à coté. Ici au Cameroun, le matériel informatique et internet est chinois. Ca me fait penser boulot tout ça, c&rsquo;est avec beaucoup d&rsquo;enthousiasme que j&rsquo;étudie le positionnement de mes d&rsquo;ores et déjà clients chinois, Huawei en tête, et surtout de mes nombreux clients potentiels, ZTE ou Lenovo pour ne citer qu&rsquo;eux.<br /><br />Bon de toute manière c‘est pas une surprise que l&rsquo;avenir des Télécoms passera par la chine, mais faudrait pas croire que leur emprise s&rsquo;arrête la. Des bonbons aux bâtiments, de plus en plus de choses sont chinoises. Cette photo, c&rsquo;est l&rsquo;entrée du palais omnisport de Yaoundé (qu&rsquo;on ne voit donc pas car il est derrière moi), une très belle salle à l&rsquo;architecture futuriste et aux équipements sobres et efficaces, et donc entièrement construite et exploitée par des chinois, à un tel point que la plus simple informations du type « issue de secours » est écrite uniquement en chinois, et pas même en Français ni en Anglais qui sont les deux langues officielles du Cameroun.<br /><br />Je ne m&rsquo;attendais honnêtement pas à pouvoir pratiquer autant mes bases de chinois ici. Au passage, les seuls « blancs » que nous avons croisés de notre voyage sont des Chinois (ou asiatiques, pardon pour l&rsquo;amalgame). Vous saviez tous sans doute déjà que la Chine était en train de coloniser économiquement l&rsquo;Afrique, mais pour ceux qui se demandaient à quelle vitesse ça va, et bien ça va à la vitesse chinoise.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Arrivée à la Capitale Camerounaise.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 17/07 à 11h15 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Une vidéo sans grand intérêt artistique, mais qui a au moins le mérite de retranscrire une partie de notre aventure, notre arrivé à Yaoundé pour le week-end, synonyme d&rsquo;une connexion internet potable. Je vais essayer dans le temps qui me reste avant de rentrer sur Bayangam de mettre à jour un maximum ce site. En tout cas je vous fais bien des bisous depuis ma terrasse avec vue sur le tiers monde.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Ce que l'on sème.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 09/07 à 10h51 heure Camerounaise
				</h3>
				<p class="mg-lg">
					On a eu beaucoup de mal à se connecter ces derniers jours, alors forcément quand on a l&rsquo;opportunité de mettre à jour cette page, on a un million de choses à dire.<br /><br />S&rsquo;il y en a peut être une que je retiendrai de cette semaine, ce sont nos élèves. On a pu le vérifier, certains n&rsquo;avaient jamais vu un ordinateur avant que l&rsquo;on n&rsquo;arrive. Pourtant, leur niveau intellectuel ainsi que leur investissement sont tout à fait intéressants. On va pouvoir aller très loin avec eux, et j&rsquo;espère secrètement que certains se prendront au jeu et auront envie un jour de travailler dans l&rsquo;informatique.<br /><br />La salle que nous met a disposition l&rsquo;abbé Meli a été terminée en vitesse pour pouvoir nous accueillir. Il y a encore des travaux autour, et c&rsquo;est avec plaisir que nous mettons la main à la pâte pendant nos pauses. Un jour sans doute, si l&rsquo;aventure se pérennise, nos successeurs auront à leur disposition une vraie salle informatique. Que seront alors devenus nos élèves ? Je suis bien curieux de savoir, car je sens que le potentiel des graines que nous semons est incroyable.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Une tranche de vie
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 04/07 à 22h46 heure Camerounaise
				</h3>
				<p class="mg-lg">
					Ce soir j'ai fait la vaisselle. Ça a fait rire Daphné, une des femmes du chef. Je lui ai expliqué que beaucoup chez nous prônent l'égalité des sexes. Ça l'a fait beaucoup rire aussi. Je pourrai m'éterniser à vous raconter comment on nous a accueilli ici, je préfère vous le montrer en vidéo.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					On dirait que ça te gène de marcher dans la boue.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 03/07 à 22h00 heure Camerounaise
				</h3>
				<p class="mg-lg">
					On est arrivés à Bayangam. On a traversé tout le Cameroun, enfin une bonne partie, et c'était un sacré voyage. Je pourrais m'employer à le retranscrire image par image, mais j'ai vu tellement de choses en si peu de temps ; ma plume ne serait pas assez habile pour vous le faire vivre vraiment. Si vous le souhaitez tant que ça, venez, ça vaut le coup.<br /><br />Sinon ici, c'est un peu comme a la maison, y a des polailles qui courent et des tracteurs démontés dans le jardin.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Une pensée à tous les savoyards qui ont des paysages Africains dans leur salon, en Afrique, ils ont des paysages alpins...
				</h2>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Portuaire est l'arrivage...
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 02/07 à 15h31 heure Camerounaise
				</h3>
				<p class="mg-lg">
					...vous connaissez (je l'espère pour vous) la suite. Certains s'indigneraient de voir la Bentley au premier plan. Moi je m'en fous, je trouve qu'elle a autant sa place ici qu'ailleurs. De toute manière, dès qu'on pose le pied au sol (nous avons eu le droit à un orage dont le taux d'humidité ne me semblait jusqu&rsquo;alors pas réalisable), on se rend vite compte qu'on ne peut pas vivre ici exactement comme en France. Mais il ne s'agirait pas de croire qu'ils sont en retard sur nous. Certes on doit slalomer entre les nids de poule sur la plus belle de leurs autoroutes, mais d'un autre coté ils ont déjà développé le payement par mobile, les marques d'alcool peuvent faire de la pub librement...<br /><br />Il y a derrière tous ces petits détails un éternel combat idéologique, et je me garderai bien de conclure sur le meilleur modèle de développement. N&rsquo;empêche, aujourd'hui, l'Afrique, je la vois libre, et je la vois belle.
				</p>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Un dernier regard sur ma femme, mon fils et mon domaine.
				</h2>
				<h3 class="tc-gray  mg-sm">
					le 02/07 à 02h25 heure de Paris
				</h3>
				<p class="mg-lg">
					C'est la première et la dernière photo que je ferai en France. L'aéroport de Charles de Gaulle s'il vous plaît. Tout flamboyant et rutilant de technologie, histoire de se rappeler d'où l'on vient. Pour continuer un peu plus dans le cliché, on est allés prendre une dernière rasade de graisse dans le McDo qui jouxte la plate-forme d'embarquement. Est-ce qu'il faut y voir une crainte implicite de ne pas retrouver nos petites habitudes en Afrique ?<br /><br />Je suis pas si sûr ; ce que j'en vois pour l'instant de l&rsquo;Afrique, c'est l'avion dans lequel je suis, estampillé Ethiopian Airlines. Et c'est plutôt pas mal, même si c'est vrai qu'il en faut peu pour exciter un novice comme moi en matière d'aviation. Je pensais relativement bien connaître l&rsquo;Éthiopie, mais je viens de découvrir ahuri qu'ils utilisent un alphabet différent du notre. Et en attendant de totalement maîtriser leur langage, je suis contraint de pratiquer mon américain modeste pour obtenir un plateau repas auprès de la ravissante hôtesse. Oui vous comptez bien, c'est notre deuxième repas de la soirée, mais bon tant que ça passe, c'est toujours ça de pris. D'ailleurs ce repas, il est très bien, meilleur que chez Air France d'après mes voisins. Paraît que c'est parce que sur cette ligne, Paris - Adis Abeba, y a des gens importants qui voyagent. J'imagine des genres de dictateurs ou des trucs comme ça.<br /><br />J'ai bien regardé dans le hublot, mais, n'en déplaise à mes parents, je ne passe pas au dessus de Sainte Hélène sur Isère, la Capitale. N'en déplaise à Haddad-izi, je ne passe pas non plus au dessus du Liban. L'avion doit se situer actuellement quelque part entre les deux. Une chose est sûre, c'est que je vais fermer les yeux sur ce coucher de soleil, et que je les rouvrirai sur la terre de Hailé Selassié.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->

{% endblock %}
