{% extends '::base.html.twig' %}

{% block title %}
    Ressources
{% endblock %}

{% block body %}
<!-- bloc-17 -->
<div class="bloc l-bloc bgc-white tc-black" id="bloc-17">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-10 col-sm-12">
				<h2 class="mg-sm">
					<strong>Le voyage à travers le regard Guillaume.</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h2 class="tc-dark-cerulean-2 mg-md">
					Les premiers pas vers le caméroun : le voyage
				</h2>
				<h3 class="tc-gray  mg-sm">
					Le départ de Paris, le début de l'aventure
				</h3>
				<p class="mg-lg">
					C'est le premier juillet, cette après midi nous allons enfin nous envoler vers le Cameroun. Je suis un peu impatient de partir mais je redoute aussi ce moment. On a fait nos sac, on n'espère n'avoir rien oublié même si l'on sais que c'est puéril, on va forcément oublier des choses et en prendre des superflues mais bon à la guerre comme à la guerre.<br /><br />17H30 : On prend le RER direction Charles De Gaulle, c'est pas forcément évident avec tous nos sacs. Une fois à l'aéroport, nous rencontrons pour la dernière fois monsieur Mephu, il a réussi à obtenir trois ordis supplémentaires. Je pense que ce sera très utile car moins on a d'élève par poste, plus ils apprennent. Il nous donne les derniers conseils pour que le voyage se passe dans les meilleures conditions. Un grand merci à monsieur Mephu qui nous a beaucoup soutenu dans notre démarche.<br /><br />22H30 : On part, direction Addis Abeba (Ethiopie), c'est notre escale. Tout ce passe bien, je continue de rédiger le cours, c'est très difficile d'expliquer des choses comme le déplacement d'un curseur dans du texte ou le double clic sur une icône car ces actions nous parraissent évidentes. Or pour les élèves qui débutent l'informatique cela n'a rien d'évident.
				</p>
				<h3 class="tc-gray  mg-sm">
					Nos premiers pas au Cameroun
				</h3>
				<p class="mg-lg">
					Le voyage entre Addis et Douala s'est très bien passé comme en témoigne la photo, l'avion c'est vraiment génial ! J'adore le décolage (on a l'impression de ne plus rien peser).<br /><br />Nous sommes à l'aéroport de Douala, tout c'est bien passé jusqu'à présent. L'air est beaucoup plus lourd, nous sommes en pleine saison des pluies et un orage alourdit l'air, il va nous falloir du temps pour nous habituer. Des personnes nous accostent pour nous vendre toute sorte de choses. Heureusement que Mr Francis, un ami de Mr Mephu est là pour nous guider car nous n'aurions jamais pu sortir de l'aéroport sans lui.<br /><br />13H30 : Nous arrivons à la procure, c'est un endroit de passage pour les pélerins et les séminaristes qui voyagent dans toute l'Afrique centrale. Nous nous installons, il est plaisant de prendre une bonne douche après un aussi long voyage. J'ai une certaine apréhension après l'aéroport, les choses se passent très différement au Cameroun. Nous sommes allé faire des courses. Cette sortie m'a beaucoup rassuré car les gens sont gentils. Je commence à me sentir à l'aise. Nous avons visité la ville rapidement, c'est toujours très différent mais l'ambiance est chaleureuse.<br /><br />19H30 : c'est l'heure de manger à la procure, à table j'ai discuté avec un séminariste qui vient de Centre Afrique, il m'a expliqué que les études de théologie se faisaient à Douala et celle de philosophie se faisaient au Gabon. Pour finir ses études il voyage dans toute l'Afrique centrale. La bas aussi, d'un pays à l'autre il y a de grandes différences culturelles. La soirée se passe merveilleusement bien, nous discutons en regardant l'embrasement du ciel camerounais. Demain, c'est le départ pour Bayangam.
				</p>
				<h3 class="tc-gray  mg-sm">
					Bayangam, une éblouissante découverte
				</h3>
				<p class="mg-lg">
					9H Départ pour Bayangam, nous partons en voiture accommpagné de Francis. Gros orage à Douala, c'est le début de la saison des pluies. Les bagage chargé à l'arrière d'un quatre quatre toyota nous partons ... (Ici il y a un noombre incalculable de toyotas). Le voyage se passe sans encombre et les paysages sont éblouissant de couleur et de diversité, des eucaliptus très hauts et très droits au bananiers avec leurs grandes palmes en passant par les palmiers (nous avons même vu quelques pins). Nous passons par divers villages hauts en couleur. Plus nous avançons dans les terres plus le temps s'améliore, le soleil apparait brullant le sol encore humide.<br /><br />12H30: Nous nous arrètons pour manger dans un village de la région de Banga, dans une sorte de café, il y a des vendeurs ambulants qui nous vendent des bananes (les bananes camerounaises sont excellentes). Près de là nous achetons des brochettes de viande, c'est succulent mais très épicé. Après nous reprennons la route vers Bayangam, ce n'est plus très loin.<br /><br />15H : Nous arrivons à la chefferie de Bayangam, c'est un endroit très particulier car le chef du village y vit entouré de toutes ses femmes. Au départ c'est assez déroutant mais le chef est très gentil et nous sommes très bien acceuillis. Après cela Francis nous fait visiter Bayangam, il nous raconte les légende qui entoure la chefferie ainsi que les symbole qui y sont représentés, le lion ci-contre représente le pouvoir et la force du roi de Bayangam, la tortue représente la justice et le léopard le pouvoir géographique du roi. On dit que le roi est à la chefferie mais aussi en dehors grace à ses léopards. Daphnée, la dernière femme du chef s'occupe de nous elle nous apprend à faire la cuisine camerounaise. Demain c'est le grand jour, nous allons voir où nous allons donner les cours.
				</p>
				<h3 class="tc-gray  mg-sm">
					À la rencontre de l'abbé Meli
				</h3>
				<p class="mg-lg">
					8H30, nous partons pour la paroisse du village, nous allons donné les cours dans une salle attenante à l'église. Nous rencontrons l'abbé Meli qui est le prêtre du village. Il nous montre les salles de classe et la liste des élèves inscrits. Nous avons choisi de faire deux groupe, les petits le matin et les grands l'après midi. Ensuite nous regardons ce que nous pouvons leur enseigner le lendemain. C'est intéressant de voir que les cours du matin seront assez différents de ceux de l'après midi. Nous ne connaissons pas encore les élèves donc nous ne pouvons pas prévoir leur progression.<br /><br />12H : nous récupérons cinq ordis que nous prête un ami de monsieur Mephu. Ici les choses se passent lentement c 'est agréable au début mais parfois je m'impatiente. Moi qui ai l'habitude de vivre à 200 à l'heure, j'ai tendance à ronger mon frein lorsque l'on attend 2 H.<br /><br />14H : Nous mangeons avec l'abbé, ici tout le monde est très pieu et les règles religieuses sont strictement observée, pour un athé convaincu, la situation est tendancieuse. Après nous allons à Bafusam, la ville voisine pour faire des courses (notemment de l'eau) et tenter de récupérer une clef 3G. De retour à Bayangam nous testons la clef mais le réseaux est faible mais ca marche ...<br /><br />19H : de retour à la chefferie, les enfants nous acceuillent, j'apprend à cuisiner avec Daphnée et les enfants m'apprennent le patoi local, c'est marrant. A coté, Selma à l'air de moins rigolé en se faisant faire des tresse camerounaises mais ne nous moquons pas trop vite, les enfants ont pris rendez vous avec nous en fin de semaine bien qu'avec mes cheveux courts ils risquent d'avoir un peu de mal mais ils ont plein d'imagination, ils vont bien trouver quelque chose ... :)
				</p>
				<h3 class="tc-gray  mg-sm">
					L'instant magique du premier cours
				</h3>
				<p class="mg-lg">
					8H30 : nous entrons dans la salle de classe après un petit dej copieux servi par Gladis, c'est marrant, tout les petits sont déja là. Nous installons les PC et nous démarrons le cours. Nous avons choisi de diviser la journée en deux parties : le matin nous travaillons avec les petit (CM1 - 5éme) l'aprem c'est le cours pour les lycéens (3éme - terminale). De plus, nous avons diviser chaque groupe en deux afin de faire faire 1H30 de théorie (John et Sylvain) et 1H30 de pratique (Selma et moi) à chaque groupe par jour.<br /><br />Les petits sont trop marrants et une immense majorité d'entre eux ont déja utilisé un ordinateur. Mais ils sont peu discipliné, ils bougent beaucoup. On en a même vu certains lancer des jeux lorsque nous avions le dos tourné. Apprendre à des petits s'avère être une tâche extrêmemnt ardu mais extrêmement enrichissante. Nous avons réussi à avoir un poste par élève. C'est super car ils peuvent vraiment essayer de s'en servir en tentant des choses, s'ils étaient deux, le plus fort serait toujours devant l'ordi et l'autre se contenterait de regarder.<br /><br />13H30 : Début du cours pour les lycéens, c'est très intéressant car la pédagogie est totalement différente (parfois, je me suis surpris à parler à un jeune de 19 ans comme à un gamin de 10 ans (ca fait assez bizare :) )), les lycées sont beaucoup plus calmes mais certain n'ont jamais vu d'ordinateur en plus ils sont assez timide (sauf la fille du chef Murielle). Donc le niveau des étudiant est très hétérogène. Certains savent parfaitement utilisé Word alors que d'autres ne sont pas capables de taper une phrase sur le clavier donc on doit s'adapter en permanence.<br /><br />19H : Enseigner c'est vraiment crevant mais c'est grisant : nous mangeons rapidement puis au lit. Je suis impatient d'y retourner mais je suis épuisé.
				</p>
				<h3 class="tc-gray  mg-sm">
					Deuxième jour de classe, jour de la pluie
				</h3>
				<p class="mg-lg">
					8H30 : La pluie est annoncé nous verrons comment ca se passe. Les élève arrivent, nous avons décidé de faire des groupes de niveaux afin d'homogénéiser un peu mais sans grand succès. Nous démarons le cours par une dictée, ils ont besoin de prendre de l'aisance avec le clavier. Donc Selma dicte un passage de la "guerre des boutons" pendant que je passe derière les PC afin de les aider, particulièrement dans la mise en page du texte. Mais les niveaux sont trop différents, certains ont écrit trois phrases alors que d'autre n'ont pas encore fini le titre. Donc demain nous devront changer de méthode, peut être passer à de la copie. Parfois, j'ai vraiment l'impression d'être un piètre professeur, j'ai l'imression qu'ils n'ont rien compris la veille. Je suis sans doute trop impatient, pour la plupart c'est leur deuxième jour d'informatique en plus les PC sont tous diférents donc pas facile de s'y retrouver ...<br /><br />11H : l'orage éclate, c'est terrible, dans la salle le bruit est assourdissant, on ne peut plus parler. Les gouttes battent la tôle si fort que la maison tremble. Pourtant tous les jeunes ont l'air rassuré, ils doivent avoir l'habitude. Après la fin du cous nous rentrons à la chefferie pour manger. La pluie à rendu la route boueuse et la descente est super marrant car nous marchons vraiment dans la gadou. La remonté vers la paroisse est beaucoup plus difficile car descendre en glissant, c'est marrant par contre remonter c'est une autre paire de manche ...<br /><br />13H30 : Avec les grands tout ce passe super bien, c'est un vrai régal. Il suivent la dictée même si ils ont des difficulté avec le clavier et ils apprennent vite en faisant beaucoup d'effort car pour certain, c'est vraiment le premier contact. C'est là où l'on voit qu'en informatique rien n'est évident. Ca nous parait intuitif mais en fait c'est juste une question d'habitudes.
				</p>
				<h3 class="tc-gray  mg-sm">
					Jeudi, les élèves sont vraiment doués
				</h3>
				<p class="mg-lg">
					8H30 : Après le petit déjeuné, nous nous dépêchons de monter à la paroisse. Comme d'habitude, les élèves sont déja là. Nous installons les ordi et les petits démarrent leur TP. Aujourd'hui, ils vont utiliser le tableur. Pour la plupart, c'est la première fois. Certains ont beaucoup de mal mais d'autre ont une bonne intuition avec ce logiciel, ils comprennent vite comment ça marche. Pour travailler le traitement de texte nous avons décider de leur faire recopié des livres (sifficiles à mettre en page) cela leur permet d'aller à leur rythme indépendemment des autres. C'est plutôt réussi.<br /><br />12H30 : Aujourd'hui nous mangeons à la paroisse car on gagne une heure et cela nous permet d'arriver à l'heure et de réparé les PC qui ont eu des problèmes dans la matinée, c'est un gros travail de maintenance ...<br /><br />13H30 : Début des cours de l'aprem, les élèves sont vraiment doués, ils sont déja capable de faire plein de choses avec word et certain commence à vraiment bien maitriser excel même si en général ils ont des difficultés avec les propositions conditionnelles, mais leur apprentissage ne fait que commencer. On leur fait préparer une carte d'anniversaire pour Sylvain, ils doivent utiliser wordArt et des zones de texte c'est assez technique mais je pense que ça leur plait.<br /><br />Une petite pluie sur le chemin du retour rend le chemin boueux, cette glaise rouge s'infiltre partout et surtout dans les chaussures, je redoute le moment de la lessive ... ;) Le soir nous tombons de sommeil, nous mangeons puis au lit, demain on se lève tôt
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-17 END -->
{% endblock %}
