{% extends '::base.html.twig' %}

{% block title %}
    Soutien
{% endblock %}

{% block body %}
<!-- bloc-16 -->
<div class="bloc l-bloc bgc-white tc-dark-cerulean-2" id="bloc-16">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mg-sm">
					<strong>En direct de Bayangam</strong>
				</h2>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
				<h4 class="mg-md ">
					Suivez le voyage à travers le regard de chacun de nous :
				</h4>
				<div class="row">
					<div class="col-sm-6">
						<p>
							<a class="ltc-dark-cerulean-2" href="{{ path('rj_by_blog1') }}">Le blog de Guillaume</a>
						</p>
					</div>
					<div class="col-sm-6">
						<p>
							<a class="ltc-dark-cerulean-2" href="{{ path('rj_by_blog2') }}">Le blog de Jonathan</a>
						</p>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-6">
						<p>
							<a class="ltc-dark-cerulean-2" href="{{ path('rj_by_blog3') }}">Le blog de Selma</a>
						</p>
					</div>
					<div class="col-sm-6">
						<p>
							<a class="ltc-dark-cerulean-2" href="{{ path('rj_by_blog4') }}">Le blog de Sylvain</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-16 END -->
{% endblock %}
